.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.strengthBar {
    position: relative;
    width: 50%;
    height: 5rem;
    border: 0.2rem hsl(298, 63%, 38%) solid;
    border-radius: 10rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.strengthBar::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-color: hsl(298, 63%, 68%);
    border-radius: 3rem;
    transition: width 300ms;
}

.inputBar {
    width: 40%;
    height: 4rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.8rem;
    background-color: hsl(298, 63%, 58%);
    border: 1px solid hsl(298, 63%, 38%);
    outline: none;
}

.inputBar:focus {
    border: 1px solid hsl(298, 63%, 68%);
}

.feedback {
    display: flex;
    flex-direction: column;
    width: 50%;
}